<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/chats.css" type="text/css" />
    <title>Chat Application</title>
  </head>

  <body>
    <h1 id="u"></h1>
    <div class="parent">
      <div class="left">
        <div class="container">
          <form action="/searchforuser" method="get">
            <button type="submit" class="send" onclick="toSearch">
              Search for Friends
            </button>
          </form>

            <form action="/requestReceived" method="post">
              <button type="submit" id="recieve" name="recs"   >
                Requests recieved
              </button>
            </form>
            
          
        </div>
        <div class="pt2"></div>
      </div>
      <div class="space"></div>
      <div class="right">
        <div class="name"></div>
        <div class="msg"></div>
        <div class="inputMsg">
          <input type="text" placeholder="Type your message here" />
          <button type="submit" class="sendButton">
            <img src="css/send.png" />
          </button>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script  src="event.js"> </script>  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      document.getElementById("u").innerHTML = localStorage.getItem("user");
     
      let sender = localStorage.getItem("user"); // current user
      document.getElementById("recieve").value = sender;
       console.log( sender);
       $("#recieve").value = sender ;
      // $("#recieve").click(function () {
      //   $.post(
      //     "/requestReceived",
      //     { user: sender},
          
      //     function (data, status) {}
      //   );
      // });
    </script>
  </body>
</html>
