<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/search_user.css" type="text/css" />
    <title>Search</title>
  </head>
  <body>
    
    <form action="/searchforuser" method="post"  class="container">
      <input type="text" placeholder="Enter the username... " name="n1" id="fc"/>
    </form>
    <button type="submit" class="search_button" >
      <img src="css/search.png" />
    </button>
    
    <p class="st"></p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="searchuser.js"></script>
  </body>
</html> -->
